{% extends "index.html.twig" %}

{% block name %}
    <div class="bodylayout">
        <div class="overallineup" id="divwidth">
            <div class="textlineup">
                <h3>Nicky de Vendt</h3>
                <p>hier komt een hele mooie tekst over mij te staan</p>
            </div>
            <div class="worklineup">
            <img src="/img/appels.jpg" alt="banaan">
            </div>

        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="section_row_3">
        <div class="learngoals">
            <h1>Learning goals</h1>
            <ul>
                <li>Becoming a programmer.</li>
                <li>Learning spanish.</li>
                <li>ending my education.</li>
                <li>Leaving the army.</li>
                <li>Getting a full time programming job.</li>
                <li>going on holiday (twice).</li>
                <li>Learn snowboarding and skiing.</li>
                <li>Going on wintersports the end of this year.</li>
                <li>Airsoft more frequently.</li>
            </ul>
        </div>
        <div class="imggallery">
            <img src="/img/appels.jpg" alt="banaan">
            <img src="/img/appels.jpg" alt="banaan">
            <img src="/img/appels.jpg" alt="banaan">
            <img src="/img/appels.jpg" alt="banaan">
        </div>
    </div>
{% endblock %}

{% block text %}
    <div class="bodylayout">
        <h1>Hobby's</h1>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>Hobby 1</h2>
                <p>dit was ooit mijn werk het was hier heel gezellig maar nu werk ik ergens anders</p>
            </div>
        </div>
    </div>
{% endblock %}

