{% extends "index.html.twig" %}

{% block name %}
<div class="birds">
    <img>
</div>
<div class="mountain">
{% endblock %}

{% block main %}
    <div class="reglog">
        <div class="login" id="formstyling">
            <div>
                <h1>Log in</h1>
            </div>
            <form action="" method="post">
                <label for="username">Fill in your username</label></br>
                <input type="text" name="username" placeholder="username" required></br>
                <label for="password">Fill in your password</label></br>
                <input type="password" name="password" placeholder="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></br>
                <input type="submit" name="loginsubmit" value="Log in" class="loginbtn"></br>
            </form>
        </div>
    </div>
    {% endblock %}

{% block promotion %}
    <div class="visitorarea" id="formstyling">
        <div class="kleurtjes">
            <h2>Visitor login</h2>
            <div class="visitorlogin">
                <form action="" method="post">
                    <label for="username">Enter your personal code to get entry</label>
                    <input type="text" name="visitorcode" placeholder="Enter your code" pattern="[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}" required>
                    <input type="submit" name="visitorsubmit" value="Log in" class="loginbtn"></br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

