{% extends 'index.html.twig' %}

{% block name %}
    <div class="backgroundclassresume">
        <div class="resumetext">
            <h1>Nicky de Vendt</h1>
            <h2>Webdeveloper &  designer, your future expert</h2>
        </div>
    </div>
    <div class="personalimage">
        <img src="/img/personicon.jpg">
    </div>
{% endblock %}

{% block main %}
    <div class="resumeintro">
        <div class="socialresume">
            <a href="https://www.facebook.com" target="_blank"><img src="/img/facebook.png"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/img/instagram.png"></a>
        </div>
        <p>Lorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamerLorem impsum delamer
        </p>
        <div>
            <form action="" method="post">
                <button class="languagebtn" name="nlpdf">
                    <img src="/img/nlflag.png">
                </button>
                <button class="languagebtn" name="ukpdf">
                    <img src="/img/ukflag.png">
                </button>
                <button class="languagebtn" name="germanpdf">
                    <img src="/img/germanflag.png">
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block text %}
    <div class="overlaytimeline">
        <div class="timeline"></div>
        <div class="">
            <h2>Experience Timeline</h2>
            <div class="timeline">
                <div class ="timelinerow">
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>werk 1</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Lorem ipsum University - Netherlands</h3>
                            <h3>February 2013 - September 2015</h3>
                            </br>
                            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd
                            </p>
                        </div>
                    </div>
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>werk 2</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Lorem ipsum University - Netherlands</h3>
                            <h3>February 2013 - September 2015</h3>
                            </br>
                            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timelinerow">
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>werk 3</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Lorem ipsum University - Netherlands</h3>
                            <h3>February 2013 - September 2015</h3>
                            </br>
                            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd
                            </p>
                        </div>
                    </div>
                    <div class="workexperience">
                        <i class="title-icon fa fa-circle"></i>
                        <div class="titleworkexperience">
                            <h3>werk 4</h3>
                        </div>
                        <div class="infoworkexperience">
                            <h3>Lorem ipsum University - Netherlands</h3>
                            <h3>February 2013 - September 2015</h3>
                            </br>
                            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block promotion %}
        <div class="skilltext">
            <h4>skills</h4>
        </div>
    <div class="skillsrow">
        <div class="skills">
            <h3>Professional</h3>
            <div class="skilltree">
                <p>skill 1</p>
                <progress value="30" max="100"></progress>
                <p>skill 1</p>
                <progress value="25" max="100"></progress>
                <p>skill 1</p>
                <progress value="11" max="100"></progress>
               <p>skill 1</p>
                <progress value="55" max="100"></progress>
               <p>skill 1</p>
                <progress value="64" max="100"></progress>
               <p>skill 1</p>
                <progress value="78" max="100"></progress>
            </div>
        </div>
        <div class="skills">
            <h3>Personal</h3>
            <div class="skilltree">
                <p>skill 1</p>
                <progress value="13" max="100"></progress>
                <p>skill 1</p>
                <progress value="80" max="100"></progress>
                <p>skill 1</p>
                <progress value="44" max="100"></progress>
               <p>skill 1</p>
                <progress value="33" max="100"></progress>
               <p>skill 1</p>
                <progress value="46" max="100"></progress>
               <p>skill 1</p>
                <progress value="88" max="100"></progress>
            </div>
        </div>
        <div class="skills">
            <h3>Language</h3>
            <div class="skilltree">
                <p>skill 1</p>
                <progress value="10" max="100"></progress>
                <p>skill 1</p>
                <progress value="20" max="100"></progress>
                <p>skill 1</p>
                <progress value="90" max="100"></progress>
               <p>skill 1</p>
                <progress value="30" max="100"></progress>
               <p>skill 1</p>
                <progress value="50" max="100"></progress>
               <p>skill 1</p>
                <progress value="12" max="100"></progress>
            </div>
       </div>
    </div>
{% endblock %}

{% block recentprojects %}
{% endblock %}

