{% extends "index.html.twig" %}

{% block head %}
    <head>
        <link rel="stylesheet" type="text/css" href="/workhistory.css">
    </head>
{% endblock %}
{% block name %}
    <div class="worktextintro">
        <h1>Hier vind je een overzicht van mijn oude werkgevers.</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis </p>
    </div>
{% endblock %}

{% block main %}
    <div class="bodylayout">
        <h1>Current employer</h1>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/appels.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>work title</h2>
                <p>dit was ooit mijn werk het was hier heel gezellig 
                    maar nu werk ik ergens anders</p>
            </div>
        </div>
    </div> 
{% endblock%}

{% block text %}
    <div class="bodylayout">
        <h1>Old Employers</h1>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/hema.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>work title</h2>
                <p>dit was ooit mijn werk het was hier heel gezellig 
                    maar nu werk ik ergens anders</p>
            </div>
        </div>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/cloudsbear.png" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>work title</h2>
                <p>dit was ooit mijn werk het was hier heel gezellig 
                    maar nu werk ik ergens anders</p>
            </div>
        </div>        
    </div>
{% endblock %}

{% block promotion %}
    <div class="bodylayout">
        <h1>Recent projects</h1>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/mcdonald.jpg" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>work title</h2>
                <p>dit was ooit mijn werk het was hier heel gezellig 
                    maar nu werk ik ergens anders</p>
            </div>
        </div>
        <div class="overallineup" id="divwidth">
            <div class="worklineup">
                <img src="/img/bird1.gif" alt="banaan">
            </div>
            <div class="textlineup">
                <h2>work title</h2>
                <p>dit was ooit mijn werk het was hier heel gezellig 
                    maar nu werk ik ergens anders</p>
            </div>
        </div>        
    </div>
{% endblock %}

