<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content=" width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../home.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>nicky's website</title>
    </head>
    <body>
        {% block header %}
            <div class="topnav">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/">Work history</a></li>
                    <li><a href="/">Recent projects</a></li>
                    <li><a href="/">Resume</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </div>
        {% endblock %}

        {% block name %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block text %}
        {% endblock %}

        {% block promotion %}
        {% endblock %}

        {% block recentprojects %}
        {% endblock %}

        {% block footer %}
            <footer>
                <h1>Credits & copyright</h1>
            </footer>
        {% endblock %}
    </body>
</html>

