{% extends "index.html.twig" %}

{% block name %}
    <div>
        <h1>Handled registering</h1>
    </div>
{% endblock %}

{% block main %}
    <p>Array inspections:</p>
        {% if registerresult == true and loginresult == false %}
            <h1>U bent geregistreerd u wordt terug gestuurd.</h1>
        {% elseif loginresult == true and registerresult == false %}
            <h1>U bent ingelogd en wordt zo naar de homepage gestuurd</h1>
        {% endif %}
        {% if loginresult is empty %}
            <h1>er is iets fout gegaan bij het inloggen</h1>
        {% endif %}
    </br>
    <h1>Ruimte voor mijn dump van post</h1>
{% endblock %}

