{% extends "index.html.twig" %}

{% block name %}
    <div>
        <h1>Handled registering</h1>
    </div>
{% endblock %}

{% block main %}
    {{ dump(post) }}
    {{ dump(newuser) }}
    </br>
    <h1>Ruimte voor mijn dump van post</h1>
{% endblock %}

