{% extends "index.html.twig" %}

{% block name %}
    <div>
        <h1>Handled registering</h1>
    </div>
{% endblock %}

{% block main %}
    <p>Array inspections:</p>
    {{ dump(result) }}</br></br>
    {% if result == true %}
        <h1>ik ben geregistreerd wat een feest</h1>
    {% endif %}
    {% if result == false %}
        <h1>Ik ben niet geregistreed nou nu geen feest</h1>
    {% endif %}
    </br>
    <h1>Ruimte voor mijn dump van post</h1>
{% endblock %}

