{% extends "index.html.twig"%}

{% block name %}
    <div>
        <p>there are no chicks with dicks only guys with tits</p>
    </div>
{% endblock %}

{% block main %}
    <p>BANANANEN</p>
{% endblock %}
